# dependencies
node_modules

# all dot files and folders by default
.*

# whitelist essential dot files
!.gitignore
!.env.example

# yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# eslint
.eslintcache

# misc
.DS_Store

# IDE
.vscode
.idea
.cursor

# cli
dist

# github
.github

# git hooks
.husky